.logoContainer {
    display: flex;
    justify-content: center;
}

.resize {
    width: 77%;
    height: auto;
}

.logo {
    max-width: 77%;
    min-width: 90vmin;
}

.bandPic {
    max-width: 70%;
    min-width: 90vmin;
    height: auto;
}

.bioContainer {
    display: flex;
    justify-content: center;
}

.bio {
    max-width: 90%;
    width: 65vmax;
    /* font-size: 1.6vmax; */
    line-height: 1.4em;
    font-size: .9em;
}

@media only screen and (min-width: 50px) {

    .bio { 
       font-size: .8em; 
    }
 }

 @media only screen and (min-width: 1000px) {

    .bio { 
       font-size: 1.2em; 
    }
 }