.solid {
    border-top: 3px solid #bbb;
    padding: 1em;
    margin: .5em;
  }

.noMerchBox {
    display: flex;
    justify-content: center;
}

.noMerch {
    color: #bbb;
    text-align: center;
    font-size: 6vmin;
    /* padding: 1.5em 5em 1.5em 5em; */
    padding: 4.5vmax 15vmax 4.5vmax 15vmax;
    border: #bbb solid .3em;
    max-width: 15%;
}

.storeContainer {
    background-color: white;
    color: black;
    min-height: 55vmax;
}