.musicContainer {
    display: flex;
    justify-content: center;
}

.bandPicMusicPage {
    max-width: 27%;
    /* margin-left: 2em; */
    /* min-width: 30em; */
    /* height: auto; */
}

.iconContainer {
    color: white;
    /* min-height: 70em; */
    /* background-image: url('../images/street_pic_2024.jpg'); */
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    /* background-size: 73%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.firstMusicItem {
    margin-top: 5.5vmax;
}

.fa-youtube-play {  
    background: #bb0000;  
    color: white;  
}  

.musicIcon {
    background-color: white;
    /* color: black; */
    border-radius: 0% !important;
    display: flex;
    justify-content: center;
    min-width: 10em;
    padding: .8em;
    object-fit: contain;
    opacity: .7;
}

.musicIcon:hover {
    background-color: rgb(67, 67, 67) !important;
    /* color:white !important; */
    opacity: .6 !important;
}

.preSave {
    color: black;
    /* font-size: small; */
}

.spotifySingle {
    /* background-color: black; */
    /* color: black; */
    border-radius: 0% !important;
    margin-top: 1rem;
    margin-bottom:1rem;
    display: flex;
    justify-content: center;
    min-width: 9em;
    /* min-height: 10em; */
    /* object-fit: contain; */
    /* opacity: .7; */
}

.spotifySingle:hover {
    /* background-color: rgb(67, 67, 67) !important; */
    /* color:white !important; */
    opacity: .95 !important;
}

/* Styles for Mobile Mode */
@media screen and (max-width: 768px) {
      
    .iconContainer {
        color: white;
        /* min-height: 34em; */
        /* background-image: url('../images/street_pic_2024.jpg'); */
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .musicIcon {
        max-height: 1em;
        background-color: white;
        /* color: black; */
        border-radius: 0% !important;
        display: flex;
        justify-content: center;
        min-width: 6em;
        object-fit: contain;
        opacity: .7;
        padding: .2em;
        margin:.2em;
    }

    .bandPicMusicPage {
        max-height: 23em;
        max-width: 55%;
        margin-left: .5em;
        /* min-width: 30em; */
        /* height: auto; */
    }
}