.musicContainer {
    color: white;
    min-height: 50.6vi;
    background-image: url('../images/musicVideoPicBlk.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstMusicItem {
    margin-top: 5.5vmax;
}

.fa-youtube-play {  
    background: #bb0000;  
    color: white;  
}  

.musicIcon {
    background-color: white;
    /* color: black; */
    border-radius: 0% !important;
    display: flex;
    justify-content: center;
    min-width: 6em;
    object-fit: contain;
    opacity: .7;
}

.musicIcon:hover {
    background-color: rgb(67, 67, 67) !important;
    /* color:white !important; */
    opacity: .6 !important;
}

.preSave {
    color: black;
    /* font-size: small; */
}

.spotifySingle {
    /* background-color: black; */
    /* color: black; */
    border-radius: 0% !important;
    margin-top: 1rem;
    margin-bottom:1rem;
    display: flex;
    justify-content: center;
    min-width: 9em;
    /* min-height: 10em; */
    /* object-fit: contain; */
    /* opacity: .7; */
}

.spotifySingle:hover {
    /* background-color: rgb(67, 67, 67) !important; */
    /* color:white !important; */
    opacity: .95 !important;
}

/* Styles for Mobile Mode */
@media screen and (max-width: 768px) {
      
    .musicContainer {
        color: white;
        min-height: 50.6vi;
        background-image: url('../images/musicVideoPicBlk.jpg');
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}