.musicContainer {
    display: flex;
    justify-content: space-evenly;
}

.bandPicMusicPage {
    width: 27%;
}

.iconContainer {
    color: white;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.firstMusicItem {
    margin-top: 5.5vmax;
}

.fa-youtube-play {  
    background: #bb0000;  
    color: white;  
}  

.musicIcon {
    background-color: white;
    border-radius: 0% !important;
    display: flex;
    justify-content: center;
    min-width: 15em;
    padding: .8em;
    object-fit: contain;
    opacity: .7;
}

.musicIcon:hover {
    background-color: rgb(67, 67, 67) !important;
    opacity: .6 !important;
}

.preSave {
    color: black;
}

.spotifySingle {
    border-radius: 0% !important;
    margin-top: 1rem;
    margin-bottom:1rem;
    display: flex;
    justify-content: center;
    min-width: 9em;
}

.spotifySingle:hover {
    opacity: .95 !important;
}

/* Styles for Mobile Mode */
@media screen and (max-width: 768px) {
      
    .iconContainer {
        color: white;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .musicIcon {
        max-height: 1em;
        background-color: white;
        border-radius: 0% !important;
        display: flex;
        justify-content: center;
        min-width: 6em;
        object-fit: contain;
        opacity: .7;
        padding: .2em;
        margin:.2em;
    }

    .bandPicMusicPage {
        width: 42%;
    }
}