.tourContainer {
    background-color: white;
    color: black;
    min-height: 45vmax;;
}

.tourDateHeader {
    text-align: center;
    font-size: 7vmin;
    padding-top: 1em;
}

.tourDates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.tourDateContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 75%;
}

.noShowsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 75%;
}

.noShowsHeader {
    font-size: 2.5vmax;
    color:rgb(115, 115, 115)
}

.tourDateInfoBox {
    display: flex;
    flex-wrap: wrap;
}

.tourDate {
    margin-left: .8em;
    margin-bottom: .5em;
}

.tourButtonContainer {
    display: flex;
    flex-direction: flex-end;
}

.tourDateButton {
    margin-left: .8em;
    margin-bottom: .5em;
    padding: 1em 3.5em 1em 3.5em;
    background-color: white;
    font-size: .8em;
    width: 80%;
}

.tourDateButton:hover {
    background-color: black;
    color: white;
}

.day {
    font-size: 1.5em;
}

.solid {
    border-top: 3px solid #bbb;
    padding: 1em;
    margin: .5em;
  }