.tourContainer {
    background-color: white;
    color: black;
    min-height: 45em;
}

.tourDateHeader {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
}

.tourDates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
}

.tourDateContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 75%;
}

.tourDateInfoBox {
    display: flex;
}

.tourDate {
    margin-left: .8em;
    margin-bottom: .5em;
}

.tourButtonContainer {
    display: flex;
    flex-direction: flex-end;
}

.tourDateButton {
    margin-left: .8em;
    margin-bottom: .5em;
    padding: 1em 3.5em 1em 3.5em;
    background-color: white;
    font-size: .8em;
}

.tourDateButton:hover {
    background-color: black;
    color: white;
}

.day {
    font-size: 1.5em;
}

.solid {
    border-top: 3px solid #bbb;
    padding: 1em;
    margin: .5em;
  }